.section-6__hr {
    display: block;
    width: 10vw;
    height: 5px;
    background-color: rgb(225, 60, 0);
    /* margin-bottom: 5%; */
    margin: 2% auto;
}

.section-6__header {
    text-align: center;
    width: 30vw;
    height: auto;
    margin: 0 auto;
}

.section-6__header b {
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
}

.section-6__header span {
    font-family: Poppins;
    font-weight: 300;
    font-size: 36px;
}

.section-6__container {
    display: block;
    width: 80%;
    height: auto;
    margin: 5% auto;
    overflow: hidden;
    user-select: none;
}

.section-6__inner-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 200%;
}

.section-6__container-box {
    display: block;
    position: relative;
    width: 20vw;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(225, 60, 0, 0);
    padding: 2%;
}

.section-6-container-box__flex-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 4%;
}

.section-6__img-1 {
    display: block;
    width: 3vw;
    height: auto;
}

.section-6__img-1 img {
    width: 100%;
    height: auto;
}

.section-5-container-box__stars {
    color: orangered;
    font-size: 22px;
}

.section-6-container-box__text-content {
    display: block;
    padding-top: 3%;
    padding-bottom: 5%;
}

.section-6-container-box__text-content p {
    font-family: Poppins;
    font-weight: 300;
    font-size: 20px;
}

.section-6-container-box__flex-author {
    display: flex;
    flex-wrap: nowrap;
}

.section-6-container-box-flex__author-img-box {
    display: block;
    position: relative;
    width: 30%;
    height: auto;
    margin-left: 2%;
}

.section-6-container-box-flex__author-img-box img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;

}

.section-6-container-box-flex__author-img-1 {
    transform: scale(1.4) rotate(30deg);

}

.section-6-container-box__flex-author-data {
    display: block;
    margin-left: 5%;
}

.section-6__container-box:hover {
    border: 1px solid rgba(225, 60, 0, 1);
    transition: .5s;
}

.section-6__checkbox {
    display: flex;
    flex-wrap: nowrap;
    width: 10vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4%;
    margin-bottom: 4%;
    
}

.section-6__checkbox input {
    display: none;
}

.section-6__checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    line-height: 18px;
    user-select: none;
    width: 1vw;
    height: 2vh;
    background-color: rgba(255, 68, 0, 0.6);
    border-radius: 200px;
    padding: 1%;
    margin: 2%;
}

/* .section-6__checkbox label::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: rgba(255, 68, 0, 0.4);
    border-radius: 50px;
} */

.section-6__box-radio {
    width: auto;
    height: auto;
    padding-right: 4%;
  }

.section-6__box-radio:focus .section-6__checkbox label::before {
    background-color: rgb(255, 17, 0);
}

.section-6__checkbox input:focus .section-6__inner-items {
    transition: .5s;
}