.section-3 {
    display: block;
    width: 80vw;
    height: auto;
    margin: 2% auto;
}

.section-3__block-1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 5%
}

.block__img {
    display: block;
    width: 50vw;
    height: auto;
}

.block__img img {
    width: 100%;
    height: auto;
}

.block__text-content {
    display: block;
    width: 40vw;
    height: auto;
    padding-right: 5%;
}

.block__hr {
    display: block;
    width: 10vw;
    height: 5px;
    background-color: rgb(225, 60, 0);
    margin-bottom: 5%;
}

.block__header {
    width: 25vw;
}

.block__header b {
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
}

.block__header span {
    font-family: Poppins;
    font-weight: 300;
    font-size: 36px;
}

.block__text p {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
}

.block__button {
    display: block;
    width: auto;
    height: auto;
    margin-top: 5%;
}

.block__button a {
    background-color: rgb(218, 64, 9);
    width: 10vw;
    height: auto;
    padding: 2% 4% 2% 4%;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 300;
}

.section-3__block-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10%
}

.block-2__text-content {
    padding-left: 5%;
    padding-right: 0%;
}

.block__header-2 {
    width: 35vw;
}

.block__text-2 {
    width: 30vw;
}

.section-3__block-3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10%;
}